<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361241827557-c4o37l0cqbn8sgmb5d9qrba9p2mepmlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361241827557-c4o37l0cqbn8sgmb5d9qrba9p2mepmlu</string>
	<key>API_KEY</key>
	<string>AIzaSyB_pAFBNkbuXRsoyX_qkA8cAdMgOK0_uMk</string>
	<key>GCM_SENDER_ID</key>
	<string>361241827557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firedev.pleaseWork</string>
	<key>PROJECT_ID</key>
	<string>pleaseworkkk</string>
	<key>STORAGE_BUCKET</key>
	<string>pleaseworkkk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361241827557:ios:323b0078131a6744939c0c</string>
	<key>DATABASE_URL</key>
	<string>https://pleaseworkkk.firebaseio.com</string>
</dict>
</plist>